<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <link href="/css/newform.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        

</head>


    

<body style="background-color: rgb(117, 207, 240);">

    <nav class="navbar fixed-top navbar-expand-lg navbar-black scrolling-navbar" id="nav" style="width: 50%">
    <ul class="nav navbar-nav navbar-right">
    	 	<% if(!currUser) {%>
    	 		<button class="button" onclick="window.location.href='/'">Home🏠</button>
                <button class="button" onclick="window.location.href='/login'">Log In ✍</button>
                <button class="button" onclick="window.location.href='/register'">Sign Up</button>
            <% } else {%>
            	<button class="button" onclick="window.location.href='/reports'">Home🏠</button>
            	<button class="button" onclick="window.location.href='/reports'">Back</button>
                <button class="button" onclick="window.location.href='/logout'">Logout👋</button>
            <% } %>
       		<button class="button" onclick="window.location.href='/about'">About InTheAir❔</button>
            <button class="button" onclick="window.location.href='/contact'">Contact 📧</button>
            <%- include("../partials/flash") %>
    </ul>      
    </div>
 	</nav>



	<div class="header" style="margin-right: 50%; margin-top:10%; width: 50%; margin-left: 20%; background-color: white; border-radius: 40px; transform: translateY(50px); padding-top: 20px">
            <p>Your report</p>
    		
            	<div class="logindiv">

            		<label for="name" class="info" >Main symptom:</label>
            		<div class="info_txt">
            			<%= report.name %>
                    </div>
            		<label for="decription"class="info" >Description:</label>
            		<div class="info_txt">
                  	<%= report.description %>

                    </div>
            		<label for="date" class="info" >Date:</label>
                    <div class="info_txt" style="height: 120px; padding: 10px">
                        <%= report.date %>

                    </div>
            		<div class="container" style="margin-top: 60px; margin-left: -65%; width: 500px">
            			<div class="row">
            				<div class="col" style="padding: 10px;">
            			<button class="button" style="background-color:rgb(117, 207, 240); width: 200px;" onclick="window.location.href='/reports/edit/<%= report._id %>'">Edit</button></div>
                        <form action="/reports/<%= report._id %>?_method=DELETE" method="POST">
                            <div class="col" style="padding: 10px;margin-right: -160px"><button class="button" style="background-color:rgb(117, 207, 240);  width: 200px;" >Delete</button></div>
                        </form>
                    </div>
            		</div>

            	</div>

          

            </div>

	
		
	</div>

</body>
</html>